body
{
	margin: 0;
	padding: 0;
	background: url(https://www.google.com/search?q=electronics+photos&sxsrf=ALeKk03RGeUbT-uXRlmi92GA0T1MLxCsUg:1587910084476&tbm=isch&source=iu&ictx=1&fir=sTAgO7xT17_75M%253A%252CvDjVdjV-SEEVcM%252C_&vet=1&usg=AI4_-kTJ_DgAuFUyFKB8R34x36uy5pc8tw&sa=X&ved=2ahUKEwjYwZSEoobpAhXMyzgGHdByAmgQ9QEwAnoECAsQKQ#imgrc=sTAgO7xT17_75M:) no-repeat;
	background-size: cover;
}
.box{

	width:450px;
	background: rgba(0,0,0,0.4);
	padding :40px;
	text-align:center;
	margin: auto;
	margin-top: 5%;
	color: white;
	font-family: "Century Gothic",sans-serif;

}
.box-img{
	border-radius:50%;
	width:200px;
	height:200px;
}
.box h1{
	font-size: 40px;
	letter-spacing:4px;
	font-weight:100;
	color: lightblue;
}
.box h5
{
	font-size: 20px;
	letter-spacing: 3px;
	font-weight: 100; 

}
.box p{
	text-align: justify;
}
ul{
	margin: 0;
	padding:0;

}
.box li
{
	display: inline-block;
	margin: 6px;
	list-style: none;
}
/*.box li a{
	color:white;
	text-decoration:none;
	font-size: 60px;
}*/
